[submodule "coursera-ai-courses/modern-automated-ai-agents/oreilly-ai-agents"]
	path = coursera-ai-courses/modern-automated-ai-agents/oreilly-ai-agents
	url = git@github.com:sinanuozdemir/oreilly-ai-agents.git
