[submodule "ai-courses-and-books/modern-automated-ai-agents/oreilly-ai-agents"]
	path = ai-courses-and-books/modern-automated-ai-agents/oreilly-ai-agents
	url = git@github.com:sinanuozdemir/oreilly-ai-agents.git
